#slider{
    .slider {
        display: flex;
        width: 100%;
        margin-top:30px;
        flex-wrap: wrap;
        align-items: center;
        input[type=radio]{
            display: none;
        }
        label {
            cursor:pointer;
            text-decoration: none;
        }
        .slide{
            width: 65%;
            background: $color-slide;
            position: relative;
            &__wrap{        
                position: relative;
                z-index: 2;
            }
            &__overflow {
                width: 100%;
                overflow: hidden;
            }
            #slide1:checked ~ .slide__wrap .slide__inner {
                margin-left: 0;
            }
            #slide2:checked ~ .slide__wrap .slide__inner {
                margin-left: -100%;
            }
            #slide3:checked ~ .slide__wrap .slide__inner {
                margin-left: -200%;
            }
            &__inner {
                width: 300%;
                height: 500px;
                transition: margin-left 800ms;
            }
            &__item {
                display: flex;
                float:left;
                align-items: center;
                width: 33.33%;
                height: 100%;
                &__title{
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
            &__content{
                width: 55%;
                padding-left: 45px;   
                a{
                    display: inline-block;
                    padding: 15px 20px;
                }
            }
            &__image{
                width: 45%;
                img {
                    height: 400px;
                }
            }
            
            #bullets {
                z-index: 3;
                position: relative;
                margin: -26px 0 0;
                text-align: center;
            }
            #bullets label {
                display: inline-block;
                width: 10px;
                height: 10px;
                // border-radius:100%;
                background: #ccc;
                margin: 0 10px;
            }
            #slide1:checked ~ #bullets label:nth-child(1),
            #slide2:checked ~ #bullets label:nth-child(2),
            #slide3:checked ~ #bullets label:nth-child(3) {
                background: #444;
            }
        }
        .slide-right{
            width: 35%;
            height: 491px;
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            &__item {
                display: flex;
                height: 25%;
                @extend %border-r;
                @extend %border-l1;
                @extend %border-t;
                .fas {
                    text-align: center;
                    font-size: 32px;
                    width: 30%;
                    align-self: center;
                    color: $color-orange;
                }
                .loop-icon{
                    width: 30%;
                    img {
                        margin: 42.5px auto;
                    }
                }
            }
            &__item:hover {
                background-color: $color-orange;
                color: white;
                .fas {
                    color:white;
                }
            }
            &__desc{
                width: 70%;
                h3{ 
                    text-transform: uppercase;
                }
                p{
                    color: $text-main;
                }
            }
        }
    }
}
.hightlight{
    margin: 60px 0 0 0;
    &__menu{
        width: 23%;
        &__list{
            padding: 0;
            margin: 0;
        }
        .arrow-bottom{
            position: absolute;
            top: 45%;
            right:20px;
            transform: translate(-50%,-50%);
            display: none;
            span {
                display: block;
                height: 10px;
                width: 10px;
                border-bottom: 3px solid white;
                border-right: 3px solid white;
                transform: rotate(45deg);
            }

        }
        &__item {
            @extend %border-b;
            @extend %border-r;
            @extend %border-l1;
            height: 59px;
            span {
                height: 100%;
            }
            h3{
                font-family: $second-font;
                font-size: 13px;
                align-self: center;
            }
        }
    }     
}
.product {
    &__top{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 30px 0;
    }
    &__title {
        display: flex;
        h2 {@extend %font-title;}
    }
    &__icon4 {
        @include icon4(10px);
        margin-left: 10px;
    }
    &__pagination{
        display: flex;
        align-items: center;
        .btn-pre{
            background-color: black;
            color: white;
            width: 33px;
            height: 35px;
        }
        .btn-next{
            background-color: white;
            color: black;
            width: 33px;
            height: 35px;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    &__prod {
        width: 77%;
        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 30px;
            margin: 0;
        }
        &__item{
            width: 30%;
            margin-bottom: 30px;
            @extend %border;
            height: 325px;
            position: relative;
        }
        &__box{
            width: 100%;
            height: 100%;
            padding: 15px 10px;
            transition: .55s all ease-out;
            background: #fff;
            box-shadow: 0 0 8px $color-smoke;
            overflow: hidden;
            text-align: center;
            img {
                @include prod-img(10);
            }
            h3 {
                font-size: 15px;
                font-weight: 700;
            }
        }
        &__img {
            font-size: 22px;
            line-height: 56px;
            display: flex;
            background: #fff;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }
        &__group{
            justify-content: center;
            visibility: hidden;
            opacity: 0;
        }   
        &__box:hover {
            height: 355px;
            z-index: 20;
            box-shadow: 4px 4px 12px $color-smoke;
            @extend %border-r;
            @extend %border-b;
            @extend %border-l1;
        }
        &__box:hover &__group {
            visibility: visible;
            opacity: 1;
        }
    }  
    &__category{
        display: flex;
        flex-wrap: wrap;   
        margin-right: 15px;   
        li {
            @extend %border;
            margin-right: 5px;
        } 
    }
}
.new {
    margin-top: 30px;
    &__product {
        width: 100%;
        li {
            height: 440px;
        }
    }
    ul {
        padding: 0;
    }
    &__img {
        margin: 60px 0;
        img {
            width: 215px;
            height: 177px;
        }
    }
    &__box:hover {
        height: 485px;
        z-index: 20;
        box-shadow: 4px 4px 12px $color-smoke;
    }
}
.banner {
    a {
        height: 260px;
        padding: 15px 15px 0;
    }
    &__img {
       object-fit: cover;
       margin: 0 auto;
    }
}
.hot {
    &__product {
        width: 100%;
    }
    &__list{
        justify-content: space-between;
        padding: 0;
    }
    &__box {
        height: 325px;
        margin-bottom: 30px;
    }
    &__box-center{
        width: 100%;
        height: 100%;
        padding: 15px 10px;
        transition: .55s all ease-out;
        background: #fff;
        box-shadow: 0 0 8px #eeeeee;
        overflow: hidden;
        text-align: center;
    }
    &__box-center:hover .product__prod__group {
        visibility: visible;
        opacity: 1;
    }
    &__item{
        width: 25%;
        padding: 0 15px;
    }
    &__item-center{
        width: 45%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}
.banner2 {
    text-align: center;
    &--text-big {
        font-size: 32px;
        font-weight: 900;
    }
    &__btn-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.lastProd {
    margin: 30px 0;
    &__box{
        border: 1px solid $color-smoke;
        padding: 12px;
        background-color: white;
        margin-bottom:30px;
        z-index: 1;
        box-shadow: 0 0 8px #eeeeee;
    }
    &__avatar {
        width: 25%;
        height: 140px;
        float: left;
        margin-top: 30px;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__content {
        padding-left: 11px;
        float: left;
        width: 65%;
    }
    &__desc{
        opacity: 0.8;
    }
    &__btn-group{
        display: flex;
    }
}
#slide2 {
    background-color: $color-smoke;
}
.slide2 {
    height: 193px;
	input[type=radio] {
        display: none;
    }
    label {
        cursor:pointer;
        text-decoration: none;
    }
    &__slider{
        position: relative;
        z-index: 1;
        background-color: $color-smoke;
    }
    &__overflow{
        width: 100%;
        overflow: hidden;
    }
    #sli1:checked ~ &__slider &__inner {
        margin-left: 0;
    }
    #sli2:checked ~ &__slider &__inner {
        margin-left: -20%;
    }
    #sli3:checked ~ &__slider &__inner {
        margin-left: -40%;
    }
    #sli4:checked ~ &__slider &__inner {
        margin-left: -60%;
    }
    #sli5:checked ~ &__slider &__inner {
        margin-left: -80%;
    }
    #sli6:checked ~ &__slider &__inner {
        margin-left: -100%;
    }
    #sli7:checked ~ &__slider &__inner {
        margin-left: -120%;
    }
    #sli8:checked ~ &__slider &__inner {
        margin-left: -140%;
    }
    #sli9:checked ~ &__slider &__inner {
        margin-left: -160%;
    }
    #sli10:checked ~ &__slider &__inner {
        margin-left: -180%;
    }
    &__inner {
        transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        width: 200%;
        line-height: 0;
        height: 165px;
        ul {
            padding: 0;
        }
    }
    &__item{
        width: 10%;
        float:left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color: #fff;
        img {
            margin: 0 auto;
        }
    }
    #controls {
        margin: -100px 0 0 0;
        width: 100%;
        height: 50px;
        z-index: 3;
        position: relative;
    }
    #controls label {
        transition: opacity 0.2s ease-out;
        display: none;
        width: 30px;
        height: 30px;
        opacity: .4;
    }
    #controls label:hover {
        opacity: 1;
    }
    #sli1:checked ~ #controls label:nth-child(2),
    #sli2:checked ~ #controls label:nth-child(3),
    #sli3:checked ~ #controls label:nth-child(4),
    #sli4:checked ~ #controls label:nth-child(5),
    #sli5:checked ~ #controls label:nth-child(6),
    #sli6:checked ~ #controls label:nth-child(7),
    #sli7:checked ~ #controls label:nth-child(8),
    #sli8:checked ~ #controls label:nth-child(9),
    #sli9:checked ~ #controls label:nth-child(10),
    #sli10:checked ~ #controls label:nth-child(1) {
       background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
       float:right;
       margin: 0 -50px 0 0;
       display: block;
    }
    #sli1:checked ~ #controls label:nth-last-child(1),
    #sli2:checked ~ #controls label:nth-last-child(10),
    #sli3:checked ~ #controls label:nth-last-child(9),
    #sli4:checked ~ #controls label:nth-last-child(8),
    #sli5:checked ~ #controls label:nth-last-child(7),
    #sli6:checked ~ #controls label:nth-last-child(6),
    #sli7:checked ~ #controls label:nth-last-child(5),
    #sli8:checked ~ #controls label:nth-last-child(4),
    #sli9:checked ~ #controls label:nth-last-child(3),
    #sli10:checked ~ #controls label:nth-last-child(2){
       background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
       float:left;
       margin: 0 0 0 -50px;
       display: block;
    }
}
.banner3 {
    background-image: url('../assets/images/IMG-37.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    &__title {
        margin: 60px auto 30px;
        color: $text-secondary;
        font-size: 24px;
        font-weight: 300;
    }
    &__content {
        margin: 0 14%;
        input {
            width: 100%;
            border: 1px solid $color-smoke;
            height: 50px;
            border-radius: 25px;
            text-indent: 15px;
        }
        input:focus{
            outline-width: 0;
        }
        a {         
            font-weight: 500;
            line-height: 50px;
            height: 50px;
            padding: 0;
            border-radius: 25px;
            border: 1px solid $color-smoke;
        }
    }
    
}