.header__top, .header__top .icon__item, #slider .slider .slide-right__item, .hightlight__menu__item, .product__prod__box:hover {
  border-right: 1px solid #eeeeee; }

#slider .slider .slide-right__item, .hightlight__menu__item, .product__prod__box:hover {
  border-left: 1px solid #eeeeee; }

#slider .slider .slide-right__item {
  border-top: 1px solid #eeeeee; }

.main-menu .menu__item:hover .sub-menu-about-1, .main-menu .sub-menu-about-1 ul li:hover .sub-menu-about-2, .main-menu .hover-me:hover .sub-menu-home, .main-menu .cart__item, .main-menu .cart__close, .product__prod__item, .product__category li {
  border: 1px solid #eeeeee; }

.border-bottom, .hightlight__menu__item, .product__prod__box:hover {
  border-bottom: 1px solid #eeeeee; }

.main-menu .cart {
  border-left: 1px solid #363636; }

.main-menu .menu__item, .main-menu .cart {
  border-right: 1px solid #363636; }

.product__title h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  color: #202020;
  background-color: white;
  font-size: 1.4rem;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%; }

ul {
  list-style: none; }

a {
  display: block;
  text-decoration: none; }

.wrapper {
  max-width: 192rem;
  margin-right: auto;
  margin-left: auto; }

.container {
  max-width: 117rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.col-12, .col-6, .col-lg-6, .col-9, .col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.active {
  background-color: #f5bd10;
  color: white; }
  .active p {
    color: white !important; }

.active-black {
  background-color: #202020;
  color: #f5bd10; }

.align-center {
  position: absolute;
  color: #202020;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-white {
  color: white !important; }

.bg-secondary {
  background-color: #f5f5f5; }

.bg-black {
  background-color: #202020; }

.bg-white {
  background-color: white; }

.bg-smoke {
  background-color: #eeeeee; }

.d-flex {
  display: flex; }

.justify-flex-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.pt-1 {
  padding-top: 25px; }

.m-0 {
  margin: 0; }

.mr-3 {
  margin-right: 20px; }

.mt-3 {
  margin-top: 30px !important; }

.mb-3 {
  margin-bottom: 25px; }

.product-price {
  color: red;
  font-size: 14px;
  font-weight: 600; }

.product-price-2 {
  display: inline-block;
  color: red;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 10px; }

.rated {
  color: #f5bd10; }

.text-rate {
  color: #898989;
  margin-left: 5px;
  font-style: italic; }

.clear {
  position: relative;
  z-index: -2; }

.clear::after {
  clear: both;
  content: "";
  display: block; }

.btn {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: uppercase; }

.btn--orange {
  background-color: #f5bd10;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 8px; }

.btn-buyNow {
  background-color: #f5bd10;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 8px; }

.btn-detail {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 8px;
  margin-left: 15px; }

.btn-detail-s {
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 8px;
  margin-left: 15px;
  border: 1px solid black; }

.btn-new {
  background-color: none;
  border: none;
  color: #898989;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 0px; }

.big-font {
  font-size: 72px;
  font-weight: 1000;
  letter-spacing: 8px;
  color: #f5bd10;
  margin: 0px 0 30px; }

.line-font {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  text-overflow: ellipsis; }
  .line-font i {
    margin-right: 10px;
    color: #f5bd10; }

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot");
  src: url("./assets/fonts/icomoon.eot") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf") format("truetype"), url("../assets/fonts/icomoon.woff") format("woff"), url("../assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:after {
  opacity: 0.6;
  font-size: 18px;
  right: 0;
  position: absolute;
  content: "\e986";
  margin: 16px 20px 0px 0px; }

.header {
  background-color: #f7f7f7; }
  .header__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
    .header__top .icon__list {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0; }
    .header__top .icon__item {
      width: 50px;
      align-self: center;
      position: relative; }
      .header__top .icon__item a {
        height: 50px; }
    .header__top .icon__item:hover {
      background-color: #f5bd10; }
    .header__top__login {
      display: flex; }
      .header__top__login a {
        text-transform: uppercase;
        color: #202020;
        padding: 0 15px;
        font-weight: 600;
        height: 50px;
        line-height: 50px; }
    .header__top__box {
      border-left: 1px solid #eeeeee; }
    .header__top__box:hover {
      background-color: #f5bd10; }

.contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 0; }
  .contact__logo img {
    width: 137px; }
  .contact__hotline {
    display: flex;
    align-self: center;
    font-size: 12px; }
  .contact__hotline-content {
    margin-left: 55px; }
  .contact__hotline-title {
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 12px;
    color: #f5bd10; }
  .contact__hotline-des {
    color: #898989; }
  .contact__search-bar {
    position: relative;
    align-self: center;
    width: 100%;
    max-width: 318px; }
    .contact__search-bar--rounded {
      width: 100%;
      border: 1px solid #eeeeee;
      height: 50px;
      border-radius: 25px;
      text-indent: 15px; }
    .contact__search-bar input:focus {
      outline-width: 0; }

.main-menu {
  position: relative; }
  .main-menu .menu {
    width: 70%;
    float: left; }
    .main-menu .menu__list {
      width: 100%;
      display: flex;
      padding: 0;
      margin: 0; }
    .main-menu .menu__item {
      width: 138px;
      height: 70px;
      line-height: 70px;
      transition: .15s all ease-out; }
    .main-menu .menu__item:hover {
      background-color: #f5bd10; }
    .main-menu .menu__link {
      color: white;
      font-size: 1.17em;
      font-weight: 500;
      text-align: center; }
  .main-menu .menu__toggle-collapse {
    display: none;
    position: absolute;
    top: 15px;
    left: 30px;
    border: none;
    background: transparent;
    font-size: 2rem;
    color: white;
    cursor: pointer; }
  .main-menu .sub-menu-about-1 .fas {
    margin-right: 10px;
    font-size: 16px; }
  .main-menu .sub-menu-about-1 ul {
    padding-inline-start: 0px; }
    .main-menu .sub-menu-about-1 ul li {
      padding-left: 20px;
      height: 50px;
      line-height: 50px; }
  .main-menu .sub-menu-about-1, .main-menu .sub-menu-about-2, .main-menu .cart__dropdown {
    display: none;
    position: relative;
    z-index: 3; }
  .main-menu .menu__item:hover .sub-menu-about-1 {
    display: block;
    width: 200px;
    background-color: white;
    border-top: none; }
    .main-menu .menu__item:hover .sub-menu-about-1 a {
      color: black; }
  .main-menu .sub-menu-about-1 ul li:hover .sub-menu-about-2 {
    display: block;
    width: 200px;
    background-color: white;
    margin-left: 180px;
    margin-top: -50px;
    border-top: none; }
  .main-menu .hover-me:hover .sub-menu-home {
    display: block;
    width: 1140px;
    height: auto;
    border-top: none; }
  .main-menu .sub-menu-home {
    display: none;
    background-color: white;
    line-height: 30px;
    position: relative;
    z-index: 3;
    padding-bottom: 50px; }
    .main-menu .sub-menu-home__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px; }
      .main-menu .sub-menu-home__list .side {
        width: 25%; }
        .main-menu .sub-menu-home__list .side__list h3 {
          font-size: 14px;
          color: black; }
        .main-menu .sub-menu-home__list .side__list__img {
          object-fit: contain;
          height: auto;
          margin-right: 10px; }
        .main-menu .sub-menu-home__list .side__img {
          height: 360px;
          object-fit: cover; }
      .main-menu .sub-menu-home__list ul {
        padding: 0;
        margin: 0; }
        .main-menu .sub-menu-home__list ul .fas {
          margin-right: 15px; }
        .main-menu .sub-menu-home__list ul a {
          color: #202020; }
  .main-menu .cart {
    float: right;
    width: 70px;
    height: 70px;
    position: relative; }
    .main-menu .cart__icon {
      height: 100%;
      width: 100%; }
      .main-menu .cart__icon img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .main-menu .cart__dropdown {
      position: absolute;
      right: 0;
      padding-top: 70px;
      top: 0;
      width: 292px;
      height: auto;
      z-index: 4; }
    .main-menu .cart__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0; }
      .main-menu .cart__list img {
        width: 110px; }
    .main-menu .cart__desc {
      text-transform: uppercase; }
      .main-menu .cart__desc h3 {
        font-size: 14px; }
    .main-menu .cart__item {
      display: flex;
      align-items: end;
      background-color: white;
      border-top: none;
      padding-bottom: 5px;
      padding-left: 10px; }
      .main-menu .cart__item span {
        color: red; }
    .main-menu .cart__close {
      margin: 12px 12px 0 0;
      border-radius: 50%;
      padding: 3px 5px; }
  .main-menu .cart:hover .cart__dropdown {
    display: block; }

#slider .slider {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center; }
  #slider .slider input[type=radio] {
    display: none; }
  #slider .slider label {
    cursor: pointer;
    text-decoration: none; }
  #slider .slider .slide {
    width: 65%;
    background: #f5f5f5;
    position: relative; }
    #slider .slider .slide__wrap {
      position: relative;
      z-index: 2; }
    #slider .slider .slide__overflow {
      width: 100%;
      overflow: hidden; }
    #slider .slider .slide #slide1:checked ~ .slide__wrap .slide__inner {
      margin-left: 0; }
    #slider .slider .slide #slide2:checked ~ .slide__wrap .slide__inner {
      margin-left: -100%; }
    #slider .slider .slide #slide3:checked ~ .slide__wrap .slide__inner {
      margin-left: -200%; }
    #slider .slider .slide__inner {
      width: 300%;
      height: 500px;
      transition: margin-left 800ms; }
    #slider .slider .slide__item {
      display: flex;
      float: left;
      align-items: center;
      width: 33.33%;
      height: 100%; }
      #slider .slider .slide__item__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0; }
    #slider .slider .slide__content {
      width: 55%;
      padding-left: 45px; }
      #slider .slider .slide__content a {
        display: inline-block;
        padding: 15px 20px; }
    #slider .slider .slide__image {
      width: 45%; }
      #slider .slider .slide__image img {
        height: 400px; }
    #slider .slider .slide #bullets {
      z-index: 3;
      position: relative;
      margin: -26px 0 0;
      text-align: center; }
    #slider .slider .slide #bullets label {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ccc;
      margin: 0 10px; }
    #slider .slider .slide #slide1:checked ~ #bullets label:nth-child(1),
    #slider .slider .slide #slide2:checked ~ #bullets label:nth-child(2),
    #slider .slider .slide #slide3:checked ~ #bullets label:nth-child(3) {
      background: #444; }
  #slider .slider .slide-right {
    width: 35%;
    height: 491px; }
    #slider .slider .slide-right ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%; }
    #slider .slider .slide-right__item {
      display: flex;
      height: 25%; }
      #slider .slider .slide-right__item .fas {
        text-align: center;
        font-size: 32px;
        width: 30%;
        align-self: center;
        color: #f5bd10; }
      #slider .slider .slide-right__item .loop-icon {
        width: 30%; }
        #slider .slider .slide-right__item .loop-icon img {
          margin: 42.5px auto; }
    #slider .slider .slide-right__item:hover {
      background-color: #f5bd10;
      color: white; }
      #slider .slider .slide-right__item:hover .fas {
        color: white; }
    #slider .slider .slide-right__desc {
      width: 70%; }
      #slider .slider .slide-right__desc h3 {
        text-transform: uppercase; }
      #slider .slider .slide-right__desc p {
        color: #898989; }

.hightlight {
  margin: 60px 0 0 0; }
  .hightlight__menu {
    width: 23%; }
    .hightlight__menu__list {
      padding: 0;
      margin: 0; }
    .hightlight__menu .arrow-bottom {
      position: absolute;
      top: 45%;
      right: 20px;
      transform: translate(-50%, -50%);
      display: none; }
      .hightlight__menu .arrow-bottom span {
        display: block;
        height: 10px;
        width: 10px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        transform: rotate(45deg); }
    .hightlight__menu__item {
      height: 59px; }
      .hightlight__menu__item span {
        height: 100%; }
      .hightlight__menu__item h3 {
        font-family: "Arial", sans-serif;
        font-size: 13px;
        align-self: center; }

.product__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0; }

.product__title {
  display: flex; }

.product__icon4 {
  object-fit: contain;
  height: auto;
  margin-right: 10px;
  margin-left: 10px; }

.product__pagination {
  display: flex;
  align-items: center; }
  .product__pagination .btn-pre {
    background-color: black;
    color: white;
    width: 33px;
    height: 35px; }
  .product__pagination .btn-next {
    background-color: white;
    color: black;
    width: 33px;
    height: 35px; }

.product__content {
  display: flex;
  flex-wrap: wrap; }

.product__prod {
  width: 77%; }
  .product__prod__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 30px;
    margin: 0; }
  .product__prod__item {
    width: 30%;
    margin-bottom: 30px;
    height: 325px;
    position: relative; }
  .product__prod__box {
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    transition: .55s all ease-out;
    background: #fff;
    box-shadow: 0 0 8px #eeeeee;
    overflow: hidden;
    text-align: center; }
    .product__prod__box img {
      object-fit: cover;
      cursor: pointer;
      z-index: 10;
      margin: 0 auto; }
    .product__prod__box h3 {
      font-size: 15px;
      font-weight: 700; }
  .product__prod__img {
    font-size: 22px;
    line-height: 56px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    padding: 5px; }
  .product__prod__group {
    justify-content: center;
    visibility: hidden;
    opacity: 0; }
  .product__prod__box:hover {
    height: 355px;
    z-index: 20;
    box-shadow: 4px 4px 12px #eeeeee; }
  .product__prod__box:hover .product__prod__group {
    visibility: visible;
    opacity: 1; }

.product__category {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px; }
  .product__category li {
    margin-right: 5px; }

.new {
  margin-top: 30px; }
  .new__product {
    width: 100%; }
    .new__product li {
      height: 440px; }
  .new ul {
    padding: 0; }
  .new__img {
    margin: 60px 0; }
    .new__img img {
      width: 215px;
      height: 177px; }
  .new__box:hover {
    height: 485px;
    z-index: 20;
    box-shadow: 4px 4px 12px #eeeeee; }

.banner a {
  height: 260px;
  padding: 15px 15px 0; }

.banner__img {
  object-fit: cover;
  margin: 0 auto; }

.hot__product {
  width: 100%; }

.hot__list {
  justify-content: space-between;
  padding: 0; }

.hot__box {
  height: 325px;
  margin-bottom: 30px; }

.hot__box-center {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  transition: .55s all ease-out;
  background: #fff;
  box-shadow: 0 0 8px #eeeeee;
  overflow: hidden;
  text-align: center; }

.hot__box-center:hover .product__prod__group {
  visibility: visible;
  opacity: 1; }

.hot__item {
  width: 25%;
  padding: 0 15px; }

.hot__item-center {
  width: 45%;
  padding: 0 15px;
  margin-bottom: 30px; }

.banner2 {
  text-align: center; }
  .banner2--text-big {
    font-size: 32px;
    font-weight: 900; }
  .banner2__btn-group {
    display: flex;
    align-items: center;
    justify-content: center; }

.lastProd {
  margin: 30px 0; }
  .lastProd__box {
    border: 1px solid #eeeeee;
    padding: 12px;
    background-color: white;
    margin-bottom: 30px;
    z-index: 1;
    box-shadow: 0 0 8px #eeeeee; }
  .lastProd__avatar {
    width: 25%;
    height: 140px;
    float: left;
    margin-top: 30px; }
  .lastProd__img {
    width: 100%;
    height: 100%; }
  .lastProd__content {
    padding-left: 11px;
    float: left;
    width: 65%; }
  .lastProd__desc {
    opacity: 0.8; }
  .lastProd__btn-group {
    display: flex; }

#slide2 {
  background-color: #eeeeee; }

.slide2 {
  height: 193px; }
  .slide2 input[type=radio] {
    display: none; }
  .slide2 label {
    cursor: pointer;
    text-decoration: none; }
  .slide2__slider {
    position: relative;
    z-index: 1;
    background-color: #eeeeee; }
  .slide2__overflow {
    width: 100%;
    overflow: hidden; }
  #sli1:checked ~ .slide2__slider .slide2__inner {
    margin-left: 0; }
  #sli2:checked ~ .slide2__slider .slide2__inner {
    margin-left: -20%; }
  #sli3:checked ~ .slide2__slider .slide2__inner {
    margin-left: -40%; }
  #sli4:checked ~ .slide2__slider .slide2__inner {
    margin-left: -60%; }
  #sli5:checked ~ .slide2__slider .slide2__inner {
    margin-left: -80%; }
  #sli6:checked ~ .slide2__slider .slide2__inner {
    margin-left: -100%; }
  #sli7:checked ~ .slide2__slider .slide2__inner {
    margin-left: -120%; }
  #sli8:checked ~ .slide2__slider .slide2__inner {
    margin-left: -140%; }
  #sli9:checked ~ .slide2__slider .slide2__inner {
    margin-left: -160%; }
  #sli10:checked ~ .slide2__slider .slide2__inner {
    margin-left: -180%; }
  .slide2__inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 200%;
    line-height: 0;
    height: 165px; }
    .slide2__inner ul {
      padding: 0; }
  .slide2__item {
    width: 10%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fff; }
    .slide2__item img {
      margin: 0 auto; }
  .slide2 #controls {
    margin: -100px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative; }
  .slide2 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 30px;
    height: 30px;
    opacity: .4; }
  .slide2 #controls label:hover {
    opacity: 1; }
  .slide2 #sli1:checked ~ #controls label:nth-child(2),
  .slide2 #sli2:checked ~ #controls label:nth-child(3),
  .slide2 #sli3:checked ~ #controls label:nth-child(4),
  .slide2 #sli4:checked ~ #controls label:nth-child(5),
  .slide2 #sli5:checked ~ #controls label:nth-child(6),
  .slide2 #sli6:checked ~ #controls label:nth-child(7),
  .slide2 #sli7:checked ~ #controls label:nth-child(8),
  .slide2 #sli8:checked ~ #controls label:nth-child(9),
  .slide2 #sli9:checked ~ #controls label:nth-child(10),
  .slide2 #sli10:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block; }
  .slide2 #sli1:checked ~ #controls label:nth-last-child(1),
  .slide2 #sli2:checked ~ #controls label:nth-last-child(10),
  .slide2 #sli3:checked ~ #controls label:nth-last-child(9),
  .slide2 #sli4:checked ~ #controls label:nth-last-child(8),
  .slide2 #sli5:checked ~ #controls label:nth-last-child(7),
  .slide2 #sli6:checked ~ #controls label:nth-last-child(6),
  .slide2 #sli7:checked ~ #controls label:nth-last-child(5),
  .slide2 #sli8:checked ~ #controls label:nth-last-child(4),
  .slide2 #sli9:checked ~ #controls label:nth-last-child(3),
  .slide2 #sli10:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block; }

.banner3 {
  background-image: url("../assets/images/IMG-37.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center; }
  .banner3__title {
    margin: 60px auto 30px;
    color: #d6d8db;
    font-size: 24px;
    font-weight: 300; }
  .banner3__content {
    margin: 0 14%; }
    .banner3__content input {
      width: 100%;
      border: 1px solid #eeeeee;
      height: 50px;
      border-radius: 25px;
      text-indent: 15px; }
    .banner3__content input:focus {
      outline-width: 0; }
    .banner3__content a {
      font-weight: 500;
      line-height: 50px;
      height: 50px;
      padding: 0;
      border-radius: 25px;
      border: 1px solid #eeeeee; }

@media screen and (min-width: 768px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (max-width: 1139px) {
  .sub-menu-home {
    visibility: hidden; } }

@media screen and (max-width: 991px) {
  .contact__hotline {
    display: none; }
  #slider .slider .slide {
    width: 100%;
    margin: 0 auto; }
    #slider .slider .slide__content {
      padding-left: 20px; }
    #slider .slider .slide__image img {
      height: 350px; }
    #slider .slider .slide__content .slide__item__title {
      font-size: 25px; }
    #slider .slider .slide__content .big-font {
      font-size: 50px; }
    #slider .slider .slide__content .line-font {
      font-size: 16px; }
  #slider .slider .slide-right {
    width: 100%; }
    #slider .slider .slide-right h3 {
      margin: 15px 0px; }
    #slider .slider .slide-right p {
      margin: 0; } }

@media screen and (max-width: 767px) {
  .main-menu .menu__toggle-collapse {
    display: block; }
  .main-menu .menu__collapse {
    display: none; }
  .main-menu .cart {
    height: 50px;
    line-height: 50px; }
    .main-menu .cart__dropdown {
      padding-top: 50px; }
    .main-menu .cart__desc h3 {
      margin: 5px 0 0 0; }
    .main-menu .cart__desc p {
      margin: 5px 0 0 0; }
    .main-menu .cart__desc a {
      padding: 0; }
    .main-menu .cart__dropdown {
      line-height: 16px; }
      .main-menu .cart__dropdown .cart-image {
        width: 70px; }
  #slider .slider {
    margin-top: 20px;
    padding: 0 15; }
    #slider .slider .slide {
      width: 100%; }
    #slider .slider .slide-right {
      width: 100%; }
    #slider .slider .slide__image img {
      height: auto; }
    #slider .slider .slide__content .slide__item__title {
      font-size: 20px; }
    #slider .slider .slide__content .big-font {
      font-size: 32px; }
    #slider .slider .slide__content .line-font {
      font-size: 14px; }
  .hightlight__menu {
    width: 100%;
    height: 59px;
    overflow-y: hidden;
    position: relative; }
    .hightlight__menu .arrow-bottom {
      display: block; }
  .product__title h2 {
    font-size: 16px;
    line-height: 16px; }
  .product__prod {
    width: 100%;
    margin-top: 20px; }
    .product__prod__list {
      padding: 0;
      height: 355px; }
    .product__prod__wrap {
      background: #fff;
      position: relative;
      z-index: 2; }
    .product__prod__overflow {
      width: 100%;
      overflow: hidden; }
    .product__prod__item {
      width: 100%;
      height: 325px; }
    .product__prod__group {
      visibility: visible;
      opacity: 1; }
  .product__category {
    display: none; }
  .new__list {
    height: 325px; }
  .new__img {
    margin: 10px 0; }
    .new__img img {
      width: 160px;
      height: auto; }
  .new__group {
    visibility: hidden; }
  .new__product li {
    height: 355px; }
  .new__box {
    pointer-events: none; }
  .banner {
    margin: 0 auto; }
    .banner a {
      padding: 15px 15px 0;
      margin-bottom: 30px; }
    .banner__img {
      object-fit: cover;
      margin: 0 auto; }
  .hot__item-center {
    display: none; }
  .hot__item {
    width: 50%; }
  .d-none {
    display: none; }
  .slide2 #sli1:checked ~ #controls label:nth-child(2),
  .slide2 #sli2:checked ~ #controls label:nth-child(3),
  .slide2 #sli3:checked ~ #controls label:nth-child(4),
  .slide2 #sli4:checked ~ #controls label:nth-child(5),
  .slide2 #sli5:checked ~ #controls label:nth-child(6),
  .slide2 #sli6:checked ~ #controls label:nth-child(7),
  .slide2 #sli7:checked ~ #controls label:nth-child(8),
  .slide2 #sli8:checked ~ #controls label:nth-child(9),
  .slide2 #sli9:checked ~ #controls label:nth-child(10),
  .slide2 #sli10:checked ~ #controls label:nth-child(1) #sli1:checked ~ #controls label:nth-last-child(1),
  .slide2 #sli2:checked ~ #controls label:nth-last-child(5),
  .slide2 #sli3:checked ~ #controls label:nth-last-child(4),
  .slide2 #sli4:checked ~ #controls label:nth-last-child(3),
  .slide2 #sli5:checked ~ #controls label:nth-last-child(2),
  .slide2 #sli6:checked ~ #controls label:nth-last-child(6),
  .slide2 #sli7:checked ~ #controls label:nth-last-child(5),
  .slide2 #sli8:checked ~ #controls label:nth-last-child(4),
  .slide2 #sli9:checked ~ #controls label:nth-last-child(3),
  .slide2 #sli10:checked ~ #controls label:nth-last-child(2) {
    margin: 0; }
  #sli1:checked ~ .slide2__slider .slide2__inner {
    margin-left: 0; }
  #sli2:checked ~ .slide2__slider .slide2__inner {
    margin-left: -100%; }
  #sli3:checked ~ .slide2__slider .slide2__inner {
    margin-left: -200%; }
  #sli4:checked ~ .slide2__slider .slide2__inner {
    margin-left: -300%; }
  #sli5:checked ~ .slide2__slider .slide2__inner {
    margin-left: -400%; }
  #sli6:checked ~ .slide2__slider .slide2__inner {
    margin-left: -500%; }
  #sli7:checked ~ .slide2__slider .slide2__inner {
    margin-left: -600%; }
  #sli8:checked ~ .slide2__slider .slide2__inner {
    margin-left: -700%; }
  #sli9:checked ~ .slide2__slider .slide2__inner {
    margin-left: -800%; }
  #sli10:checked ~ .slide2__slider .slide2__inner {
    margin-left: -900%; }
  .slide2__inner {
    display: flex;
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 1000%;
    line-height: 0;
    height: 165px; }
    .slide2__inner ul {
      padding: 0; }
  .slide2__item {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fff; }
    .slide2__item img {
      margin: 0 auto; }
  .banner3 a {
    margin-top: 20px; } }

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0; }
  .row {
    margin: 0; }
  .header__top .icon {
    display: none; }
  .header__top__login {
    width: 100%; }
  .header__top__box {
    width: 50%;
    text-align: center; }
  .contact {
    flex-wrap: wrap; }
    .contact__logo {
      margin: 0 auto 15px; }
    .contact__search-bar {
      margin: 0 auto; }
  #slider .slider .slide__inner {
    height: 300px; }
  #slider .slider .slide__content .slide__item__title {
    font-size: 14px; }
  #slider .slider .slide__content .big-font {
    font-size: 20px;
    margin: 5px 0 10px; }
  #slider .slider .slide__content .line-font {
    font-size: 11px;
    line-height: 11px; }
  .product__pagination {
    padding-right: 15px; }
  .product__top {
    margin: 0 0 15px 0; }
  .product__title {
    padding: 0 15px; }
  .product__content {
    padding: 0 15px; }
  .new__product {
    padding: 0 15px; }
  .new__item {
    height: 294px; }
  .hot__item {
    width: 100%; }
  .hot__list {
    height: 355px; }
  .m-0 {
    margin: 0 15px; }
  .lastProd__avatar {
    width: 100%; }
  .lastProd__img {
    width: 40%;
    margin: 0 auto; }
  .lastProd__content {
    width: 100%; }
  .lastProd .unwrap {
    flex-wrap: nowrap; } }

@media screen and (max-width: 320px) {
  #slider .slider .slide .slide__inner {
    height: 200px; }
  #slider .slider .slide .slide__content .slide__item__title {
    font-size: 12px; }
  #slider .slider .slide .slide__content .big-font {
    font-size: 16px;
    margin: 5px 0 5px; }
  #slider .slider .slide .slide__content .line-font {
    font-size: 12px;
    line-height: 12px;
    margin: 5px 0; }
  #slider .slider .slide .slide__content a {
    padding: 5px 10px; }
  #slider .slider .slide #bullets label {
    width: 5px;
    height: 5px; }
  .banner a {
    height: 146px;
    padding: 15px 15px 0;
    margin-bottom: 30px; }
  .banner__img {
    object-fit: cover;
    margin: 0 auto; } }
