- // header variable
- const a1 = ["Máy khoan CNC điện","Máy phay đa năng 3R","Máy hàn, cắt kim loại","Máy in phun tích điện","Máy ép gỗ chuẩn nano"]
- const a2 = ["Máy khoan CNC điện","Máy phay đa năng 3R","Máy hàn, cắt kim loại","Máy in phun tích điện"]
- const arrSubmenu1 = ["Giới thiệu chung","Hệ thống cửa hàng","Chính sách ưu đãi","Thông tin tuyển dụng"]
- const limenudropdown1 = ["Hệ thống cửa hàng A","Hệ thống cửa hàng A1","Hệ thống cửa hàng A2","Hệ thống cửa hàng A3"]
- const arrMenu = ["Sản Phẩm","Tin Khuyến Mãi","Dịch Vụ","Liên hệ"]
- // end header variable
- // index variable
- const menuColumn = ["Máy in phun khổ lớn","Máy quét Canon 3D","Máy hàn điện alumina","Máy khoan Decameta","Máy phay đa năng CNC","Máy mài tiện DC 12V","Máy khoan, cắt CNC","Máy quay thông minh N3","Mô tơ R34C Đa dụng"] 
- const Arrliprod2light = ["./assets/images/Untitled-9.png","./assets/images/Untitled-10.png","./assets/images/Untitled-7.png","./assets/images/Untitled-14.png","./assets/images/Untitled-13.png","./assets/images/Untitled-12.png"]
- const newArr1= ["Máy in 3D","Máy CNC","Máy tiện","Máy khác"]
- const lasted_Prod = ["./assets/images/Untitled-7.png","./assets/images/Untitled-10.png","./assets/images/vang.png"]
- const slide2 = ["./assets/images/Untitled-32.png","./assets/images/Untitled-33.png","./assets/images/Untitled-34.png","./assets/images/Untitled-35.png","./assets/images/Untitled-36.png","./assets/images/Untitled-32.png","./assets/images/Untitled-33.png","./assets/images/Untitled-34.png","./assets/images/Untitled-35.png","./assets/images/Untitled-36.png"]
- const input = ["sli2","sli3","sli4","sli5","sli6","sli7","sli8","sli9","sli10"]
- // end index variable
-// footer variable
- const cs = ["Chính sách giao hàng","Chính sách đổi sản phẩm","Chính sách bảo hành","Chính sách trả góp","Giới thiệu hàng đổi trả","Vận chuyển miễn phí"]
- const dv = ["Hệ thống cửa hàng","Hướng dẫn mua hàng","Hướng dẫn thanh toán","Tích điểm đổi thưởng","Dịch vụ đổi trả hàng","Câu hỏi thường gặp"]
- const tt = ["Tin tức mới nhất","Tin tức khuyến mại","Tuyển dụng,đãi ngộ","Download tài liệu","Chương trình đối tác","Nhà phát triển ứng dụng"]
- const kn = ["Facebook","Twitter","Google","Skype","Instagram"]
- const footer_logo = ["./assets/images/Untitled-38.png","./assets/images/Untitled-39.png","./assets/images/Untitled-40.png","./assets/images/Untitled-41.png","./assets/images/Untitled-42.png","./assets/images/Untitled-43.png","./assets/images/Untitled-44.png","./assets/images/Untitled-45.png"]
- const footerBottom = ["Trang chủ","Giới thiệu","Sản phẩm","Tin khuyến mại","Dịch vụ","Liên hệ"]