- const a1 = ["Máy khoan CNC điện","Máy phay đa năng 3R","Máy hàn, cắt kim loại","Máy in phun tích điện","Máy ép gỗ chuẩn nano"]
- const a2 = ["Máy khoan CNC điện","Máy phay đa năng 3R","Máy hàn, cắt kim loại","Máy in phun tích điện"]
- const arrSubmenu1 = ["Giới thiệu chung","Hệ thống cửa hàng","Chính sách ưu đãi","Thông tin tuyển dụng"]
- const limenudropdown1 = ["Hệ thống cửa hàng A","Hệ thống cửa hàng A1","Hệ thống cửa hàng A2","Hệ thống cửa hàng A3"]
- const arrMenu = ["Sản Phẩm","Tin Khuyến Mãi","Dịch Vụ","Liên hệ"]