extends index.pug
block main-content 
    .errorpage
        .container
            .errorpage__content
                p.errorpage__content__title 404 ERROR
                p.errorpage__content__desc Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn
                    br
                    |Xin vui lòng trở về trang chủ
                a(href="index.html").btn.btn-login TRANG CHỦ
            img(src="./assets/images/404.png", alt="").errorpage__img