html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")      
        title Machine Company
        block css
            link(rel="stylesheet", href="css/style.css")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
        block script
            script(src="./js/script.js")
    body
        block header
            include ../partials/header