html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title POPUP
        block css
            link(rel="stylesheet", href="css/style.css")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    body
        section.popup
            h1 Đăng kí nhận tin tức của chúng tôi
            p
                |Bạn muốn nhanh chóng nhận các tin tức khuyến mại và ưu đãi lớn của chúng tôi hàng tuần?
                br
                |Hãy đăng kí ngay theo form dưới đây.
            form(action="#")
                label(for="pmail")
                input(type="email" name="pmail" placeholder="Nhập email của bạn vào đây...")
                button(type="submit").btn.btn-register ĐĂNG KÍ                
                input(type="checkbox", name="notshowagain")
                label(for="notshowagain") Không hiện lại thông báo này
            span.popup__close
                i(class="fas fa-times")