%border-r {
    border-right: 1px solid $color-smoke;
}
%border-l1 {
    border-left: 1px solid $color-smoke;
}
%border-t {
    border-top: 1px solid $color-smoke;
}
%border {
    border: 1px solid $color-smoke;
}
%border-b {
    border-bottom: 1px solid $color-smoke;
}
%border-l {
    border-left: 1px solid #363636;
}
%border-r1{
    border-right: 1px solid #363636;
}
%style-h3 {
    font-size: 20px;
    line-height: 21px;
}
%font-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
@mixin submenu($val) {
    display: block;
    width: $val;
    background-color: white;
}
@mixin icon4($val){
    object-fit: contain;
    height: auto;
    margin-right: $val;
}
@mixin prod-img($index) {
    object-fit: cover;
    cursor: pointer;
    z-index: $index;
    margin: 0 auto;
}
@mixin btn($bgcolor,$color,$x,$y,$mb){
    background-color: $bgcolor;
    border: none;
    color: $color;
    text-align: center;
    padding: $x $y;
    margin-bottom: $mb;
}