%border-r {
    border-right: 1px solid $color-smoke;
}
%border {
    border: 1px solid $color-smoke;
}
%border-l {
    border-left: 1px solid #363636;
}
%border-r1{
    border-right: 1px solid #363636;
}