.breadcrumb {
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    li {
        display: inline-block;
        font-size: 16px;
    }
    li+li::before {
        font-family: 'icomoon';
        padding: 0 8px;
        color: $text-main;
        content: "\e900";
        font-size: 15px;
    }
    a {
        display: inline;
        color: $text-main;
        text-decoration: none;
    }
    li a:hover{
        color: $color-orange;
    }
    li:last-child a{
        color: black;
    }
}